.task-item {
    border-radius: 8px;
    border: 2px solid #A35709;
    background: #242320;
    width: 345px;
    height: 250px;
    padding: 50px;
    display: block;
    align-items: center;
    gap: 16px;
    transition: all 1s;
}

.dellBtn {
    background-color: transparent;
    border: none;
}

.tasks-title {
    color: #FF8303;
}

.task-item:hover {
    transform: scale(1.04);
}

p {
    word-wrap: break-word;
}