* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1A17;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    color: white;
}